{
  "env": {
    "commonjs": {
      "presets": [
        [
          "@babel/preset-env",
          { "targets": { "node": "current" }, "modules": "commonjs" }
        ]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-modules-commonjs",
          {
            "allowTopLevelThis": true,
            "importInterop": "babel"
          }
        ],
        "babel-plugin-transform-import-meta",
        ["transform-import-extension", { "mjs": "cjs" }]
      ]
    }
  }
}
