{
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:compat/recommended",
    "plugin:jsdoc/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint/eslint-plugin", "jsdoc"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": [
      2,
      {
        "args": "after-used",
        "argsIgnorePattern": "^opt_",
        "varsIgnorePattern": "_unused$"
      }
    ],
    "no-console": 0,
    "camelcase": [0, { "properties": "never" }],
    "new-cap": [
      2,
      {
        "newIsCapExceptions": []
      }
    ],
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "valid-jsdoc": 0,
    "jsdoc/require-param-description": 0,
    "jsdoc/require-returns-description": 0
  },
  "env": {
    "browser": false,
    "node": true,
    "es2020": true
  },
  "globals": {},
  "settings": {},
  "overrides": [
    {
      "files": ["**/*_test.js"],
      "env": {
        "browser": false,
        "node": true,
        "es2020": true,
        "mocha": true
      }
    }
  ]
}
