# General
*.clip
*.stackdump
.DS_Store
.c9
.nyc_output
.project
.settings
Thumbs.db
coverage
dist
runtime
temp
tmp

# Local tests
src/main/

# NodeJs
node_modules
npm-debug.log

# Gradle
build
run
.gradle
*local.properties
